header {
  height: 70px;
  border-bottom: 2px solid #d1d1d1;
}

.main {
  height: auto;  
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  width: 200px;
  border-right: 2px solid #d1d1d1;
  height: 90vh;
}
