html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #1d2128;
}

.others {
  min-width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 260px);
  grid-auto-rows: 26rem;
  row-gap: 2rem;
}
.card {
  max-width: 260px;
  max-height: 260px;
  padding: 2rem;
  margin: 20px;
  position: relative;
  box-shadow: 5px 5px 15px rgba(153, 155, 158, 0.85);
  border-radius: 0.8rem;
}
.card__content {
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.card__bottom {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
  padding-bottom: 0.3rem;
}
.pallete-colors {
  width: 16rem;
  background-color: white;
  display: grid;
  position: absolute;
  grid-template-columns: repeat(5, 2.5rem);
  grid-auto-rows: 2.5rem;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.8rem;
  bottom: 5rem;
  left: -1rem;
}
.color {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
}
.color:first-child {
  border: 1px solid black;
}
.card__icon {
  padding: 1rem;
  margin-right: 1.5rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  color: #999b9e;
}

.color-1 {
  background-color: white;
}
.color-2 {
  background-color: #f28b82;
}
.color-3 {
  background: #fbbc04;
}
.color-4 {
  background-color: #fff475;
}
.color-5 {
  background-color: #ccff90;
}
.color-6 {
  background-color: #a7ffeb;
}
.color-7 {
  background-color: #cbf0f8;
}
.color-8 {
  background-color: #cbf0f8;
}
.color-9 {
  background-color: #d7aefb;
}
.color-10 {
  background-color: #fdcfe8;
}


.form__title {
 border: none; 
 background-color: inherit;
 font-size: 1.8rem;
 font-weight: 600;
 margin-bottom: 1rem;
}

.card__title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .form-notes {
    min-height: 75px;
    margin: 20px 0;
  }
  .main {
    margin-top: 70px;
  }
  .wrapper {
    width: 100%;
  }
  .sidebar {
    position: fixed;
    bottom: 0;
    flex-direction: row;
    height: inherit;
    width: 100%;
    background: #000000;
    z-index: 2;
  }
  .others {
    row-gap: 0rem;
    margin-bottom: 80px;
  }
  .card {
    overflow: auto;
    margin: 10px;
    width: 170px;
    height: 170px;
    padding: 1rem;
  }
  .card::-webkit-scrollbar {
    display: none;
  }
  .card__content {
    min-height: 80%;
  }
  .card__bottom {
    position: sticky;
    display: flex;
    justify-content: space-between;
  }
  .others {
    grid-template-columns: repeat(auto-fill, 180px);
    grid-auto-rows: 180px;
  }
  .pallete-colors {
    z-index: 5;
    left: 5px;
  }
  .form-notes .pallete-colors {
    left: -2rem;
  }
}
